{% extends 'base.html.twig' %}

{% block title %}Image
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div>
			<a href="{{ path('main') }}" class="btn btn-outline-primary">
				Accueil
			</a>
			<a href="{{ path('image_list') }}" class="btn btn-outline-primary">
				Liste des images
			</a>
		</div>

		<div class="container border rounded w-50 p-5 mt-5">
			<h1>{{ image.title }}</h1>
			<p>{{ image.src }}</p>
			<p>{{ image.alt }}</p>
			<p><img src="{{ asset('img/'~image.src) }}" alt="" width="100px"></p>
		</div>
	</div>

{% endblock %}
