{% extends 'base.html.twig' %}

{% block title %}Press Media
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			max-width: 800px;
			font: 18px / 1.5 sans-serif;
		}
	</style>
	<div class="example-wrapper container text-center mt-3">
		<h1>Bienvenue!</h1>

		{% for message in app.flashes('notice') %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}

		<div class="mt-5">
			<div>
				<a href="{{ path('article_list') }}" class="btn btn-outline-dark w-50 m-2">Voir les articles</a>
			</div>
			<div>
				<a href="{{ path('writer_list') }}" class="btn btn-outline-dark w-50 m-2">Voir les auteurs</a>
			</div>
			<div>
				<a href="{{ path('category_list') }}" class="btn btn-outline-dark w-50 m-2">Voir les categories</a>
			</div>
			<div>
				<a href="{{ path('image_list') }}" class="btn btn-outline-dark w-50 m-2">Voir les images</a>
			</div>
			<div>
				<a href="{{ path('contact') }}" class="btn btn-outline-primary w-50 m-2">Nous contacter</a>
			</div>
		</div>
	</div>
{% endblock %}
