{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}

	<div class="container mt-3">

		<div class="my-3">
			<a href="{{ path('main') }}" class="btn btn-outline-primary">
				Accueil
			</a>
			<a href="{{ path('article_list') }}" class="btn btn-outline-primary">
				Liste des articles
			</a>
		</div>

		<div class="border p-5">
			<h1>{{ article.title }}</h1>
			<p>{{ article.content }}</p>
			<p>
				{% for image in article.images %}<img src="{{ asset('img/'~image.src) }}" alt="" width="100px">
				{% endfor %}
			</p>
		</div>
	</div>

{% endblock %}
