{% extends 'base.html.twig' %}

{% block title %}Articles!
{% endblock %}

{% block body %}

	<div class="container p-3 mt-3">
		{% for message in app.flashes('notice') %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}

		<div class="my-3">
			<a href="{{ path('main') }}" class="btn btn-outline-primary">
				Accueil
			</a>
		</div>

		<table class="table table-hover text-center">
			<thead>
				<tr>
					<th scope="col">Titre</th>
					<th scope="col">Contenu</th>
					<th scope="col">Auteur</th>
					<th scope="col">Image</th>
					<th scope="col">Categorie</th>
					<th scope="col">Like</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					{# {% if article.published %} #}
					<tr>
						<td>
							<a href="{{ path('article_show', { 'id' : article.id }) }}">
								{{ article.title }}
							</a>
						</td>
						<td>{{ article.content }}</td>
						<td>{{ article.writer.name }}
							{{ article.writer.firstname }}</td>
						<td>
							{% for image in article.images %}<img src="{{ asset('img/'~image.src) }}" alt="" width="100px">
							{% endfor %}
						</td>
						<td>{{ article.category.name }}</td>
						<td>
							<a href="{{ path('article_like', { 'id' : article.id }) }}" class="text-decoration-none js-likes">
								{% if app.user and article.isLikeByUser(app.user) %}
									<i class="like bi bi-hand-thumbs-up-fill"></i>
								{% else %}
									<i class="like bi bi-hand-thumbs-up"></i>
								{% endif %}
								<span class="js-likes">{{ article.likes | length }}</span>
							</a>
							<a href="{{ path('article_dislike', { 'id' : article.id }) }}" class="text-decoration-none text-danger js-dislikes">
								{% if app.user and article.isDislikeByUser(app.user) %}
									<i class="dislike bi bi-hand-thumbs-down-fill text-danger"></i>
								{% else %}
									<i class="dislike bi bi-hand-thumbs-down text-danger"></i>
								{% endif %}
								<span class="js-dislikes">{{ article.dislikes | length }}</span>
							</a>
						</td>
					</tr>
					{# {% endif %} #}
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
